.Rproj.user
.Rhistory
.RData
.Ruserdata
/ProyectoAED2023/ProyectoAED2023.log
/ProyectoAED2023/ProyectoAED2023.tex
/ProyectoAED2023/proyecto_html.Rmd
/ProyectoAED2023/proyecto_html.html
/ProyectoAED2023/figure/